body {
  background-color: #eef4ed;
}

.login-container {
  max-width: 400px;
  margin: 100px auto 0 auto;
  padding: 20px;
}

.title-login {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 26px;
}

.auth-header {
  background-color: #6784a1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.title-website {
  margin: 0 0 0 2rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.error-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #be2626;
  background-color: #fadada;
  padding: 10px;
  border-radius: 4px;
  margin-top: 26px;
  text-align: center;
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 26px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.form-group input::-webkit-input-placeholder {
  font-size: 16px;
}

.submit-button {
  width: 104%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  background-color: #0b2545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #164277;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.register-link {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  text-align: center;
}

.register-link a {
  color: #13315c;
  text-decoration: none;
}
